<form class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInput">Nombre</label>
    <input type="text" class="form-control" id="autoSizingInput" placeholder="Juan Perez">
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInputGroup">Fecha y hora</label>
      <input type="datetime-local" class="form-control" id="autoSizingInput">
    </div>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingSelect">Preferencia</label>
    <select class="form-select" id="autoSizingSelect">
      <option selected>Elije...</option>
      <option value="1">Restaurante</option>
      <option value="2">Bar Escondido</option>
      <option value="3">Terraza</option>
    </select>
  </div>
    <div class="col-auto">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>